.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 60px;
  font-size: 16px;
  background: red;
  color: #fff;
  font-weight:  bold;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  width:280px;
  cursor: pointer;
  transition: opacity .3s ease;
  svg {
    margin-right: 30px;
  }
  &:hover {
    opacity: .5;
  }
}
