$color-details: #f4d975;

.cards-button-title{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.card__title {
    padding-left: 70px;
}

.card-container-button{
    padding-right: 165px;
    // padding-left: 10px;
}

.card_button{
    background-color: #0074fa;
    color: white;
    padding: 1em;
    border: 0;
    border-radius: 50%;
    font-size: 13px;
    display: inline-block;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    transition: .5s all;
}
.card_button:active {
    transform: .3s all;
    transform: scale(.9);
}
.card_button:hover {
    background-color: #A1111A;
}

.cards{
    width: 100%;
    position: relative;
    
}

.cards__container{
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;

}

.cards-item{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 20px;
    display: inline-block;
    position: relative;
    
}

.cards-item__details{
    background-color: $color-details;
    height: 80px;
    border-radius: 5px;
    position: absolute;
    top: 5;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.cards-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
}

@media screen and (max-width: 5px) {
    .cards__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        width: 85%;
        margin: 0 auto;
    }
    .cards-item {
        margin-right: 0;
    }
}

@media screen and (max-width: 480px) {
    .cards__container{
        grid-template-columns: 1fr;
        
    } 
    .cards-button-title {
        flex-flow: column;
    }
    .card__title {
        padding-left: 0;
    }
    .card-container-button {
        padding-right: 0;
        position: fixed;
        bottom: 2rem;
        z-index: 10;
        width: 100%;
        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    .card_button {
        margin: 1rem;
    }
    .cards-item {
        place-self: center;
    }
}