.footer{
    background-color: #0074FA;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.3rem;
    p{
      margin: 0;
      color: #ffffff;
    }
  }