.navbar{
    height: 80px;
    background-color: #A1111A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    div:nth-child(1) {
      width: 150px;
       img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      :hover{
        cursor: pointer;
      }
    }
    div:nth-child(2) {
      display: flex;
      align-items: center;
      img:nth-child(1) {
        width: 35px;
        cursor: pointer;
      }
      img:nth-child(2) {
        height: 30px;
        cursor: pointer;
      }
      p {
        color:#fff;
        font-weight: bold;
        a {
          text-decoration: none;
          text-transform: none;
          color: #fff;
        }
      }
      div{
        margin-left: 10px;
        width: 60px;
        height: 60px;
        img:nth-child(1){
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    button{
      position: absolute;
      top: 75px;
      right: 2rem;
      outline: none;
      border: 1px solid #84888A;
      background-color: #FFFFFF;
      width: 120px;
      height: 30px;
    }
  }

  @media screen and (max-width: 400px) {
    .navbar {
      div:nth-child(1) {
        display: none;
      }
      // .navbar__logo {
      //   display: none;
      // }
    }
    
  }