.contenedor {
  max-width: 1400px;
  // height: 1000px;
  min-height: 100vh;
  margin:auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 20px;
  padding-bottom:20px;
  justify-content:center;
  background-color: #F4D975;
}

.content {
  font-family: 'Oswald', sans-serif;
  border-radius: 10px;
  margin-right: 50px;
  padding: 1rem 0;
  h2 {
    font-size: 36px;
    padding: 0px 10px 0px 10px;
  }
  background-color: #fff;
  width: 450px;
  height: 85%;
  &__btn {
    display: flex;
    flex-direction: column;
    margin: auto;
    width:270px;
  }
  &__line {
    display: flex;
    justify-content: center;
  }
  &__line--left {
    border-bottom: 2px solid #000;
    width: 45%;
    margin-bottom: 15px;
  }
  &__line--or {
    margin-top: 20px;
    text-align: color;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  &__line--right {
    @extend .content__line--left;
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    label {
      @extend .content__form;
      padding: 8px;
      margin: auto;
      span {
        margin-bottom: 5px;
        font-size: 22px;
      }
      input {
        background: #F2F2F2;
        border: 0;
        border-radius: 10px;
        padding: 1rem;
        width: 400px;
        height: 35px;
        font-size: 18px;
      }
      input:focus {
        border: 2px solid #0074FA;
        outline: none;
      }
    }
    div {
      @extend .content__btn;
    }
  }

}

@media screen and (max-width: 1024px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
  }
  .content {
    margin: 0 auto;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .contenedor {
    box-sizing: border-box;
  }
  .content {
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    h2 {
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      max-width: 320px;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    &__line {
      width: 80%;
      margin: 0 auto;
    }
  }
  .content__form {
    label {
      width: 90%;
      input {
        // width: 250px;
        width: 100%;
        box-sizing: border-box;
      }
      span {
        max-width: 300px;
      }
    }
  }

}

