$color-placeholder: gray;

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 2rem;
}

.input{
    outline: none;
    border: 2px solid gray;
    border-radius: 25px;
    font-size: 16px;
    width: 500px;
    padding-left: 10px;
}

.search__container{
    padding-top: 10px;
    display: flex;
}

::placeholder{
    color: $color-placeholder;
}
@media screen and (max-width: 630px) {
    .input {
        height: 40px;
        width: 100%;
        margin-bottom: 1rem;
        box-sizing: border-box;

    }
    .search__container {
        flex-flow: column;
        width: 85%;
    }
}

    
