.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  align-items: center;
  width: 400px;
  margin: auto;
  padding: 2rem 0;
  p {
    font-size: 18px;
    text-align: center;
    font-weight:  bold;
  }
  button {
    width:360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 66px;
    font-size: 18px;
    background: #0074FA;
    color: #fff;
    font-weight:  bold;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    transition: opacity .3s ease;
  }
  button:hover {
    opacity: .7;
  }
}

@media screen and (max-width: 400px) {
  .start {
    width: 100%;
    padding: 1rem 0;
    img {
      width: 250px;
    }
    p {
      max-width: 300px;
    }
  }
}