@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Rubik&display=swap');
@import './buttonsocial';
@import './login';
@import './start';
@import './card';
@import './search';
@import './header';
@import './footer';
@import './favorites';
@import './characters';

* {
    margin: 0;
}
body {
    background-color: white;
    font-family: 'Rubik', sans-serif;
}
section:nth-child(1) {
    padding-top: calc(90px + 2rem);
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Oswald', sans-serif;
}